spring:
  datasource:
    url: jdbc:h2:mem:warehouse;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

app:
  security:
    jwt-secret: super-secret-key-change-me-please-123456
    jwt-expiration-ms: 3600000

server:
  port: 8080
